sudo: false

language: python

matrix:
  include:
    - python: 2.6
    - python: 2.7
    - python: 3.4
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true
  fast_finish: true

script:
 - python unitTests.py
