include pyparsing.py
include HowToUsePyparsing.html pyparsingClassDiagram.*
include README.md CODE_OF_CONDUCT.md CHANGES LICENSE
include examples/*.py examples/Setup.ini examples/*.dfm examples/*.ics examples/*.html
recursive-include docs *
prune docs/_build/*
recursive-include test *
include simple_unit_tests.py unitTests.py
